[Desktop Entry]
Encoding=UTF-8
Name=Link to AUIPS7111STRL Infineon Technologies | Integrated Circuits (ICs) | DigiKey
Type=Link
URL=https://www.digikey.com/product-detail/en/infineon-technologies/AUIPS7111STRL/AUIPS7111STRLCT-ND/6564411
Icon=text-html
