[Desktop Entry]
Encoding=UTF-8
Name=Link to CURRENT SENSE HIGH SIDE SWITCH - auips7111s.pdf
Type=Link
URL=https://www.infineon.com/dgdl/auips7111s.pdf?fileId=5546d462533600a4015355a7c94e1326
Icon=application-pdf
